.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.topBar {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
}

.topBar > img {
  height: 36px;
}

.counter {
  margin: 0 8px;
}

.scratchNote, .loadingNote {
  position: absolute;
  place-self: center;
  display: flex;
  backdrop-filter: blur(4px);
}

.scratchNote > p, .loadingNote > p {
  padding: 8px 16px;
  position: relative;
  margin: 0;
}

.scratchNote::before, .loadingNote::before {
  content: '';
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: overlay;
}


.scratchNote::before {
  background: #0003;
  mix-blend-mode: normal;
}

.scratchNote > p {
  color: white
}

.loadingNote::before {
  background: #BBB;
  box-shadow: var(--shadow);
}

.content {
  position: relative;
  margin: 80px 24px 104px;
  width: 100%;
  display: flex;
  border-radius: 16px;
  transition: .6s cubic-bezier(0.5, 0, 0, 1);
}

.content.fullscreen {
  margin: 0px;
}

.content::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  transition: .3s ease-in-out;
}

.content.fullscreen::before {
  opacity: 0;
}

.content::after {
  position: absolute;
  background: #8E8EAD;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 12px;
  box-shadow: var(--shadow);
  pointer-events: none;
  transition: .3s ease-in-out;
}

.content.fullscreen::after {
  border-radius: 0;
  background-color: #8E8EAD00;
}
