:root {
  --text: #2C2A33;
  --textOpacity: #2C2A33CC;
  --textTint: #2C2A3310;
  --accent: #675CE5;
  --accentTint: #675CE510;
  --shadow: 
      0 0 0 1px #0005,
      0 4px 8px 0 #0001,
      0 8px 32px 0 #0005;
  --shadowElevated: 
      0 0 0 1px #0005,
      0 4px 16px 0 #0002,
      0 16px 48px 0 #0008;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  margin: 0;
}

*:not(script):not(style):not(title) {
  user-select: none;
  display: flex;
  position: relative;
}

#__next {
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(180deg, #DACEF2,#C2C2F200 75%),
    linear-gradient(90deg, #C2D7F2,#C2C2F200 75%),
    linear-gradient(0deg, #DDC9F2,#C2C2F200 75%),
    linear-gradient(#D4D4F2,#D4D4F2);
}

#__next::before {
  background: url('/pattern.svg');
  content: '';
  position: absolute;
  background-size: 384px;
  mix-blend-mode: overlay;
  opacity: .2;
  width: 100%;
  height: 100%;
}

a, code {
  margin: -4px -2px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: .2s;
}

a {
  text-decoration: none;
  color: var(--accent);
}

code {
  background: #0001;
}

a:hover {
  background: var(--accentTint);
}

a:active {
  opacity: .5;
}

.react-modal-sheet-drag-indicator {
  background-color: #D9D9E2 !important;
}