.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  width: inherit;
  gap: 16px;
  margin: auto;
  margin-top: -32px;
  max-width: 360px;
  padding: 0 24px;
}
