.main {
  display: flex;
  padding: 0;
  margin: 0;
}

.status {
  margin: 45vh auto;
  color: white;
  align-content: center;
}

.img {
  width: 100vw;
  height: 100vh;
  object-fit: scale-down;
  position: fixed;
}


.canvas {
  position: absolute;
  top: 0px;
  z-index: 100;
}
