div.container {
  display: flex;
  gap: 8px
}

.container::before, .container > div, .container::after {
  height: 8px;
  width: 8px;
  content: '';
  background: #3F3C49;
  border-radius: 4px;
}

.container::before {
  animation: loading 1.2s 0s infinite;
}

.container > div {
  animation: loading 1.2s .4s infinite;
}

.container::after {
  animation: loading 1.2s .8s infinite;
}

@keyframes loading {
  0% {
    background: #FFF;
  }

  25% {
    background: #FFF;
  }

  50% {
    background: #504C5C
  }

  75% {
    background: #504C5C
  }

  100% {
    background: #3F3C49
  }
}