.status {
  margin: 45vh auto;
  color: white;
  align-content: center;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  position: fixed;
}

.canvas {
  position: absolute;
  pointer-events: all;
  width: inherit;
  height: inherit;
}
