.container {
  pointer-events: all !important;
  transition: .3s cubic-bezier(.5, 0, 0, 1);
  padding: 2px;
  margin: 2px;
  box-shadow: 0 0 0 0px #0000;
}

.container.selected {
  pointer-events: all !important;
  transition: .3s cubic-bezier(.5, 0, 0, 1);
  box-shadow: 0 0 0 2px #000F;
}
