.container {
  min-width: 48px;
  min-height: 48px;
  align-items: center;
  justify-content: start;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
}

.container, .container * {
  pointer-events: all !important;
}

.box.active, .box.hover {
  background: #00000009;
}

.box.active>* {
  opacity: .5;
}
