.container {
  display: flex;
  width: 100%;
  min-height: 56px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.label {
  transition: .6s cubic-bezier(0.5, 0, 0, 1);
  position: relative;
  height: 56px;
  width: 100%;
  max-width: 320px;
  border-radius: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.label.loading {
  height: 48px;
  width: 128px;

  cursor: not-allowed;
}

.label.copy {
  cursor: copy;
}

.label::before {
  mix-blend-mode: luminosity;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border-radius: 28px;

  background-color: #F5F5F5;
}

.label.loading::before {
  background-color: #EEE;
}

.label::after {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border-radius: 28px;
  box-shadow: var(--shadow)
}

.label > div {
  position: absolute;
  align-items: center;
  display: flex;
  height: 100%;
  gap: 12px;
  color: #2C2A33;
  font-size: 18px;
}

.label > div > img {
  height: 24px;
  width: 24px;
}

.link {
  border: none;
  background: none;
  font-size: 12px;
  color: #888;
  mix-blend-mode: luminosity;
  margin: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.link:focus {
  outline: none;
  user-select: none;
}

.link::selection {
  color: #888;
  background: none;
}